---
# tasks file for calico_init

- name: Check for tigera operator.
  ansible.builtin.command: kubectl get deployment -n tigera-operator -o=jsonpath='{range .items[?(@.metadata.name=="tigera-operator")]}{.metadata.name}'
  register: get_tigera_operator

- name: Create tigera operator.
  ansible.builtin.command: kubectl create -f https://raw.githubusercontent.com/projectcalico/calico/{{ calico_version }}/manifests/tigera-operator.yaml
  when: get_tigera_operator.stdout != 'tigera-operator'

- name: Wait for tigera-operator deployment to be available.
  ansible.builtin.command: kubectl wait --for=condition=available deployment/tigera-operator -n tigera-operator --timeout=120s
  when: get_tigera_operator.stdout != 'tigera-operator'

- name: Wait for Installation CRD to be registered.
  ansible.builtin.command: kubectl wait --for=condition=established crd/installations.operator.tigera.io --timeout=60s
  when: get_tigera_operator.stdout != 'tigera-operator'

- name: Create empty config file.
  ansible.builtin.copy:
    content: ""
    dest: calico_init.yaml

- name: Create yaml configs.
  ansible.builtin.blockinfile:
    path: calico_init.yaml
    marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item.kind }}"
    block: |
      {{ item | to_nice_yaml(sort_keys=false) }}
      {%- if not ansible_loop.last %}
      ---
      {% endif %}
  loop: "{{ yaml_configs }}"
  loop_control:
    extended: true

- name: Run calico init.
  ansible.builtin.command: kubectl apply -f calico_init.yaml