---
# tasks file for helm
# Updated 2026-01: Helm apt repo moved from Balto to Buildkite
# See: https://helm.sh/blog/debian-helm-repository-move/

- name: Check if package is absent
  ansible.builtin.package:
    name: helm
    state: absent
  check_mode: true
  register: package_check

- name: Install Helm from Apt
  when: package_check is succeeded
  block:

    - name: Install apt dependencies
      ansible.builtin.package:
        name:
          - apt-transport-https
          - curl
          - gpg
        state: present

    - name: Download Helm GPG key
      ansible.builtin.shell: |
        curl -fsSL https://packages.buildkite.com/helm-linux/helm-debian/gpgkey | gpg --dearmor -o /usr/share/keyrings/helm.gpg
      args:
        creates: /usr/share/keyrings/helm.gpg

    - name: Add Helm apt repository
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/helm.gpg] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main"
        state: present
        filename: helm-stable

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install Helm
      ansible.builtin.package:
        name:
          - helm
        state: present