<pool type='dir'>
  <name>{{ name }}</name>
  <uuid>{{ uuid }}</uuid>
  <capacity unit='bytes'>{{ capacity }}</capacity>
  <source>
  </source>
  <target>
    <path>{{ path }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>